@font-face {
  font-family: "AvenirLight";
  src: local("AvenirLight"),
    url(../assets/fonts/AvenirLight.ttf) format("truetype");
  // url(../assets/fonts/AvenirLight.woff2) format("woff2"),
  // url(../assets/fonts/AvenirLight.woff) format("woff");
}

@font-face {
  font-family: "AvenirBold";
  src: local("AvenirBold"),
    url(../assets/fonts/AvenirBold.ttf) format("truetype");
  // url(../assets/fonts/AvenirBold.woff2) format("woff2"),
  // url(../assets/fonts/AvenirBold.woff) format("woff");
}

body {
  font-family: "AvenirLight";
  color: #150060;
}

h1 {
  font-family: "AvenirBold";
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1.2;
}

@media only screen and (min-width: 48.1em) {
  h1 {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 75em) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  font-family: "AvenirBold";
  font-size: 3.4rem;
  font-weight: 400;
}

h3 {
  font-family: "AvenirBold";
  font-size: 3rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2rem;
  font-weight: 400;
}

h6 {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 2px;
}

p {
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: 300;
  line-height: 1.8;
}
